streamlit
langchain==0.3.25
langchain-core==0.3.60
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-text-splitters==0.3.8
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
groq
python-dotenv